{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row">
    <!-- Vertical Navbar -->
    {% include 'dashboard/sidebar.html' %}
    <!-- Content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      {% load crispy_forms_tags %}
      <h3 class="text-center">Add Posts</h3>
      <form action="{% url 'add_post' %}" method="POST"
      enctype="multipart/form-data">
        {% csrf_token %} {{form |crispy}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </main>
  </div>
</div>

{% endblock %}
